body{
    font-family: 'Poppins', sans-serif;
    margin:0;
}
   
    h1{
        font-size:50px;
    }
    .orange{
     
   color:orange;

    }
    .flexibl_container{

      
        display: flex;
        margin-bottom: 150px;
        

    }
    
    
    .first_part{
        
        padding-left:2% ;
        width:50%;
        
    }
    .first_part image{
        
        width: 50%;
    }
    .link-button{

     text-decoration: none;
     
     background-image:linear-gradient(orange,tomato);
     padding: 10px 40px;
     font-weight:700 ;
     border-radius: 5px;

    }
    .top-banner{
        background-image: url(images/top-banner.png);
        background-repeat: no-repeat;
    }

    .Dream_Big{
         background-image:url(images/dream-bg.png);
         
         background-repeat:no-repeat;
         background-position-x: right;
    }
   
    .left_e_pic2{
   padding-left:20px;
   
    }
     
 
    .yellow_color{
        color:rgb(255, 208, 0);
        text-shadow: 2px 2px black;
    
}
.experienve-item{
    width:40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 30px grey;
    border-radius: 10px;
    
}

.experience-area{
    background-image:url(images/exp-bg.png);
    
    background-repeat:no-repeat;
    background-position-x: left;
}
#boro{
    border-left: 10px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;

}
#choto{
    border-left: 10px solid;
    border-image: linear-gradient(orange,red);
    border-image-slice: 1;

}
footer p{
   text-align: center;
}